.float {
  background-color: antiquewhite;
  border-bottom: 1px solid #fff;
  padding: 30px;
  margin: 10px;
}

.bg-blue {
  background-color: darkcyan;
}

.floated-right {
  float: right;
}

.floated-left {
  float: left;
}

/* Helper class */
.clear {
  clear: right;
}
